bin/CMakeFiles/3.31.3/CompilerIdC/Debug/CompilerIdC.tlog/CL.command.1.tlog
bin/CMakeFiles/3.31.3/CompilerIdC/Debug/CompilerIdC.exe.recipe
bin/CMakeFiles/3.31.3/CompilerIdC/Debug/CMakeCCompilerId.obj
bin/CMakeFiles/3.31.3/CompilerIdC/CompilerIdC.vcxproj
bin/CMakeFiles/3.31.3/CompilerIdC/CompilerIdC.exe
bin/CMakeFiles/3.31.3/CompilerIdC/CMakeCCompilerId.c
bin/CMakeFiles/3.31.3/CMakeSystem.cmake
bin/CMakeFiles/3.31.3/CMakeRCCompiler.cmake
bin/CMakeFiles/3.31.3/CMakeDetermineCompilerABI_CXX.bin
bin/CMakeFiles/3.31.3/CMakeDetermineCompilerABI_C.bin
bin/CMakeFiles/3.31.3/CMakeCXXCompiler.cmake
bin/CMakeFiles/3.31.3/CMakeCCompiler.cmake
bin/CMakeCache.txt
bin/cmake_install.cmake
bin/Assignment3.vcxproj.user
bin/Assignment3.vcxproj.filters
bin/Assignment3.vcxproj
bin/Assignment3.sln
bin/Assignment3.dir/Debug/vc143.pdb
bin/Assignment3.dir/Debug/timer.obj
bin/Assignment3.dir/Debug/sprite.obj
bin/Assignment3.dir/Debug/shader.obj
bin/Assignment3.dir/Debug/projectile.obj
bin/Assignment3.dir/Debug/player_game_object.obj
bin/Assignment3.dir/Debug/main.obj
bin/Assignment3.dir/Debug/HUD.obj
bin/Assignment3.dir/Debug/game_object.obj
bin/Assignment3.dir/Debug/game.obj
bin/Assignment3.dir/Debug/file_utils.obj
bin/Assignment3.dir/Debug/expo_obj.obj
bin/Assignment3.dir/Debug/enemy_game_object.obj
bin/Assignment3.dir/Debug/collectible_game_object.obj
bin/Assignment3.dir/Debug/circle.obj
bin/Assignment3.dir/Debug/audio_manager.obj
bin/Assignment3.dir/Debug/Assignment3_d.ilk
bin/Assignment3.dir/Debug/Assignment3_d.exe.recipe
bin/Assignment3.dir/Debug/Assignment3.tlog/link.write.1.tlog
bin/Assignment3.dir/Debug/Assignment3.tlog/link.secondary.1.tlog
bin/Assignment3.dir/Debug/Assignment3.tlog/link.read.1.tlog
bin/Assignment3.dir/Debug/Assignment3.tlog/link.command.1.tlog
bin/Assignment3.dir/Debug/Assignment3.tlog/CL.write.1.tlog
bin/Assignment3.dir/Debug/Assignment3.tlog/CL.read.1.tlog
bin/Assignment3.dir/Debug/Assignment3.tlog/Cl.items.tlog
bin/Assignment3.dir/Debug/Assignment3.tlog/CL.command.1.tlog
bin/Assignment3.dir/Debug/Assignment3.tlog/Assignment3.lastbuildstate
bin/Assignment3.dir/Debug/Assignment3.log
bin/ALL_BUILD.vcxproj.filters
bin/ALL_BUILD.vcxproj
bin/.vs/Assignment3/v17/Solution.VC.db
bin/.vs/Assignment3/v17/ipch/AutoPCH/c81f91d5faadc2f8/GAME.ipch
bin/.vs/Assignment3/v17/ipch/AutoPCH/c4b30b8f9d0c0c82/CIRCLE.ipch
bin/.vs/Assignment3/v17/ipch/AutoPCH/8409ece0c1ba4743/ENEMY_GAME_OBJECT.ipch
bin/.vs/Assignment3/v17/ipch/AutoPCH/644ecd05ede43d/COLLECTIBLE_GAME_OBJECT.ipch
bin/.vs/Assignment3/v17/ipch/AutoPCH/4e4b0f3cf1932600/GAME_OBJECT.ipch
bin/.vs/Assignment3/v17/ipch/AutoPCH/4a7e7d0a9dea4314/EXPO_OBJ.ipch
bin/.vs/Assignment3/v17/DocumentLayout.json
bin/.vs/Assignment3/v17/DocumentLayout.backup.json
bin/.vs/Assignment3/v17/Browse.VC.db
bin/.vs/Assignment3/v17/.suo
bin/.vs/Assignment3/FileContentIndex/ef3df41a-c0e2-471d-a536-5acd2f5710d9.vsidx
bin/.vs/Assignment3/FileContentIndex/eb7d8fc4-aa85-470e-b3f6-5a8e3be00534.vsidx
bin/path_config.h
bin/Debug/Assignment3_d.pdb
bin/Debug/Assignment3_d.lib
bin/Debug/Assignment3_d.exp
bin/Debug/Assignment3_d.exe
bin/CMakeFiles/TargetDirectories.txt
bin/CMakeFiles/generate.stamp.depend
bin/CMakeFiles/generate.stamp
bin/CMakeFiles/CMakeConfigureLog.yaml
bin/CMakeFiles/cmake.check_cache
bin/CMakeFiles/3.31.3/VCTargetsPath/x64/Debug/VCTargetsPath.tlog/VCTargetsPath.lastbuildstate
bin/CMakeFiles/3.31.3/VCTargetsPath/x64/Debug/VCTargetsPath.recipe
bin/CMakeFiles/3.31.3/VCTargetsPath.vcxproj
bin/CMakeFiles/3.31.3/VCTargetsPath.txt
bin/CMakeFiles/3.31.3/CompilerIdCXX/Debug/CompilerIdCXX.tlog/link.write.1.tlog
bin/CMakeFiles/3.31.3/CompilerIdCXX/Debug/CompilerIdCXX.tlog/link.secondary.1.tlog
bin/CMakeFiles/3.31.3/CompilerIdCXX/Debug/CompilerIdCXX.tlog/link.read.1.tlog
bin/CMakeFiles/3.31.3/CompilerIdCXX/Debug/CompilerIdCXX.tlog/link.command.1.tlog
bin/CMakeFiles/3.31.3/CompilerIdCXX/Debug/CompilerIdCXX.tlog/CompilerIdCXX.lastbuildstate
bin/CMakeFiles/3.31.3/CompilerIdCXX/Debug/CompilerIdCXX.tlog/CL.write.1.tlog
bin/CMakeFiles/3.31.3/CompilerIdCXX/Debug/CompilerIdCXX.tlog/CL.read.1.tlog
bin/CMakeFiles/3.31.3/CompilerIdCXX/Debug/CompilerIdCXX.tlog/Cl.items.tlog
bin/CMakeFiles/3.31.3/CompilerIdCXX/Debug/CompilerIdCXX.tlog/CL.command.1.tlog
bin/CMakeFiles/3.31.3/CompilerIdCXX/Debug/CompilerIdCXX.exe.recipe
bin/CMakeFiles/3.31.3/CompilerIdCXX/Debug/CMakeCXXCompilerId.obj
bin/CMakeFiles/3.31.3/CompilerIdCXX/CompilerIdCXX.vcxproj
bin/CMakeFiles/3.31.3/CompilerIdCXX/CompilerIdCXX.exe
bin/CMakeFiles/3.31.3/CompilerIdCXX/CMakeCXXCompilerId.cpp
bin/CMakeFiles/3.31.3/CompilerIdC/Debug/CompilerIdC.tlog/link.write.1.tlog
bin/CMakeFiles/3.31.3/CompilerIdC/Debug/CompilerIdC.tlog/link.secondary.1.tlog
bin/CMakeFiles/3.31.3/CompilerIdC/Debug/CompilerIdC.tlog/link.read.1.tlog
bin/CMakeFiles/3.31.3/CompilerIdC/Debug/CompilerIdC.tlog/link.command.1.tlog
bin/CMakeFiles/3.31.3/CompilerIdC/Debug/CompilerIdC.tlog/CompilerIdC.lastbuildstate
bin/CMakeFiles/3.31.3/CompilerIdC/Debug/CompilerIdC.tlog/CL.write.1.tlog
bin/CMakeFiles/3.31.3/CompilerIdC/Debug/CompilerIdC.tlog/CL.read.1.tlog
bin/CMakeFiles/3.31.3/CompilerIdC/Debug/CompilerIdC.tlog/Cl.items.tlog
bin/.vs/Assignment3/v17/Solution.VC.db-wal
bin/.vs/Assignment3/v17/Solution.VC.db-shm
bin/.vs/Assignment3/v17/ipch/AutoPCH/c1bda8b9308102e5/VCTMP22672_679293.COLLECTIBLE_GAME_OBJECT.00000000.ipch
bin/.vs/Assignment3/v17/ipch/AutoPCH/839938f148ff1715/PROJECTILE.ipch
bin/.vs/Assignment3/v17/ipch/AutoPCH/76debcf3c418c582/AUDIO_MANAGER.ipch
bin/.vs/Assignment3/v17/ipch/AutoPCH/6153ad571bb2e8c8/PLAYER_GAME_OBJECT.ipch
bin/.vs/Assignment3/v17/ipch/AutoPCH/46363f96eecaa69/HUD.ipch
bin/.vs/Assignment3/v17/Browse.VC.opendb
bin/.vs/Assignment3/v17/Browse.VC.db-wal
bin/.vs/Assignment3/v17/Browse.VC.db-shm
bin/.vs/Assignment3/FileContentIndex/a58b8522-d0f1-471f-965e-9449b918c837.vsidx
bin/.vs/Assignment3/FileContentIndex/939bcfad-3b24-4906-9eb3-55185e0ccbce.vsidx
bin/.vs/Assignment3/FileContentIndex/856aa050-25cb-435e-95f4-68585829f317.vsidx
bin/.vs/Assignment3/FileContentIndex/66d44b51-086a-4284-872c-449580544b6d.vsidx
bin/.vs/Assignment3/FileContentIndex/c2a83fd8-7cf9-4b7b-b6f3-8eb8dfa73bfe.vsidx
bin/.vs/Assignment3/FileContentIndex/faf99a7c-ada6-4a87-8dda-08ce4c308c9d.vsidx
bin/.vs/Assignment3/FileContentIndex/23812d07-006b-47d3-8801-a114edd7e47e.vsidx
bin/.vs/Assignment3/FileContentIndex/951d399e-a632-492e-bd04-3776d63efa63.vsidx
bin/.vs/Assignment3/FileContentIndex/c1e5e633-4109-407a-9d9b-c1a8e8931317.vsidx
bin/.vs/Assignment3/FileContentIndex/ddd10638-33cf-4b5e-b05c-3ad8cc0657c2.vsidx
bin/.vs/Assignment3/v17/ipch/AutoPCH/1c2b69b60358e23a/BLUE_GAME_OBJECT.ipch
bin/.vs/Assignment3/v17/ipch/AutoPCH/3269dea1e4763bd0/DELETE_SCALAR.ipch
bin/.vs/Assignment3/v17/ipch/AutoPCH/38d095020b68b6d/TIMER.ipch
bin/.vs/Assignment3/v17/ipch/AutoPCH/77297e69c397dff7/CIRCLE.ipch
bin/.vs/Assignment3/v17/ipch/AutoPCH/bd579367f64d45b4/FORTRESS_OBJECT.ipch
bin/.vs/Assignment3/v17/ipch/AutoPCH/d5273527bb75112d/VCTMP6404_589788.ENEMY_GAME_OBJECT.00000000.ipch
bin/.vs/Assignment3/v17/ipch/AutoPCH/df3dd09e347f0199/BLUE_GAME_OBJECT.ipch
bin/Assignment3.dir/Debug/blue_game_object.obj
bin/Assignment3.dir/Debug/bomb.obj
bin/Assignment3.dir/Debug/fortress_object.obj
bin/Assignment3.dir/Debug/lazer.obj
bin/Assignment3.dir/Debug/monster_object.obj
bin/.vs/Assignment3/FileContentIndex/8f1dd03e-dfab-4f9f-ad27-a633fbd83d0e.vsidx
bin/.vs/Assignment3/FileContentIndex/8fbcdadf-32f0-4ca3-89a5-fb27e44f46f4.vsidx
bin/.vs/Assignment3/FileContentIndex/bc539fee-6f27-457d-8183-ea0b94cc0f73.vsidx
bin/.vs/Assignment3/FileContentIndex/cadee257-a52e-4efc-adfc-ed574c9179cc.vsidx
bin/.vs/Assignment3/v17/ipch/AutoPCH/55d5683f08425d5c/DELETE_SCALAR.ipch
bin/.vs/Assignment3/v17/ipch/AutoPCH/7aa0ac1574e7687b/FORTRESS_SHOOTER.ipch
bin/Assignment3.dir/Debug/fortress_shooter.obj
bin/.vs/Assignment3/FileContentIndex/75a44d5a-da2e-4208-b406-c65c116f63a9.vsidx
bin/.vs/Assignment3/FileContentIndex/80ce8f4b-6d88-43f8-bb7e-c4414ab2aefc.vsidx
bin/.vs/Assignment3/FileContentIndex/aa80cf0f-987d-4d48-a4aa-c8efa5c4e305.vsidx
bin/.vs/Assignment3/v17/ipch/AutoPCH/d68bed14884cc8ca/MONSTER_OBJECT.ipch
bin/.vs/Borderspace/FileContentIndex/5bb2015b-b949-4470-9e95-4a1eb71a81b4.vsidx
bin/.vs/Borderspace/FileContentIndex/9be3bdce-300b-423c-97ea-f00765a8b042.vsidx
bin/.vs/Borderspace/v17/.suo
bin/.vs/Borderspace/v17/Browse.VC.db
bin/.vs/Borderspace/v17/Browse.VC.db-shm
bin/.vs/Borderspace/v17/Browse.VC.db-wal
bin/.vs/Borderspace/v17/Browse.VC.opendb
bin/.vs/Borderspace/v17/DocumentLayout.backup.json
bin/.vs/Borderspace/v17/DocumentLayout.json
bin/.vs/Borderspace/v17/ipch/AutoPCH/19440a854bf76af/HUD.ipch
bin/.vs/Borderspace/v17/ipch/AutoPCH/5c57b61b4ecc532e/FORTRESS_OBJECT.ipch
bin/.vs/Borderspace/v17/ipch/AutoPCH/8e249ede7f9d3e50/CIRCLE.ipch
bin/.vs/Borderspace/v17/ipch/AutoPCH/9d584c3bb7e8682/PLAYER_GAME_OBJECT.ipch
bin/.vs/Borderspace/v17/ipch/AutoPCH/9ef2e1ebdcae7db1/ENEMY_GAME_OBJECT.ipch
bin/.vs/Borderspace/v17/ipch/AutoPCH/ceac9028f89c892d/EFFECT.ipch
bin/.vs/Borderspace/v17/ipch/AutoPCH/e9188b3930093c7e/GAME.ipch
bin/.vs/Borderspace/v17/ipch/AutoPCH/f72de08d79ad3ce2/LAZER.ipch
bin/.vs/Borderspace/v17/Solution.VC.db
bin/.vs/Borderspace/v17/Solution.VC.db-shm
bin/.vs/Borderspace/v17/Solution.VC.db-wal
bin/Borderspace.dir/Debug/audio_manager.obj
bin/Borderspace.dir/Debug/blue_game_object.obj
bin/Borderspace.dir/Debug/bomb.obj
bin/Borderspace.dir/Debug/Borderspace.log
bin/Borderspace.dir/Debug/Borderspace.tlog/Borderspace.lastbuildstate
bin/Borderspace.dir/Debug/Borderspace.tlog/CL.command.1.tlog
bin/Borderspace.dir/Debug/Borderspace.tlog/Cl.items.tlog
bin/Borderspace.dir/Debug/Borderspace.tlog/CL.read.1.tlog
bin/Borderspace.dir/Debug/Borderspace.tlog/CL.write.1.tlog
bin/Borderspace.dir/Debug/Borderspace.tlog/link.command.1.tlog
bin/Borderspace.dir/Debug/Borderspace.tlog/link.read.1.tlog
bin/Borderspace.dir/Debug/Borderspace.tlog/link.secondary.1.tlog
bin/Borderspace.dir/Debug/Borderspace.tlog/link.write.1.tlog
bin/Borderspace.dir/Debug/Borderspace.vcxproj.FileListAbsolute.txt
bin/Borderspace.dir/Debug/Borderspace_d.Build.CppClean.log
bin/Borderspace.dir/Debug/Borderspace_d.exe.recipe
bin/Borderspace.dir/Debug/Borderspace_d.ilk
bin/Borderspace.dir/Debug/circle.obj
bin/Borderspace.dir/Debug/collectible_game_object.obj
bin/Borderspace.dir/Debug/effect.obj
bin/Borderspace.dir/Debug/enemy_game_object.obj
bin/Borderspace.dir/Debug/expo_obj.obj
bin/Borderspace.dir/Debug/file_utils.obj
bin/Borderspace.dir/Debug/fortress_object.obj
bin/Borderspace.dir/Debug/fortress_shooter.obj
bin/Borderspace.dir/Debug/game.obj
bin/Borderspace.dir/Debug/game_object.obj
bin/Borderspace.dir/Debug/HUD.obj
bin/Borderspace.dir/Debug/lazer.obj
bin/Borderspace.dir/Debug/main.obj
bin/Borderspace.dir/Debug/monster_object.obj
bin/Borderspace.dir/Debug/player_game_object.obj
bin/Borderspace.dir/Debug/projectile.obj
bin/Borderspace.dir/Debug/shader.obj
bin/Borderspace.dir/Debug/sprite.obj
bin/Borderspace.dir/Debug/timer.obj
bin/Borderspace.dir/Debug/vc143.pdb
bin/Borderspace.sln
bin/Borderspace.vcxproj
bin/Borderspace.vcxproj.filters
bin/Borderspace.vcxproj.user
bin/Debug/Borderspace_d.exe
bin/Debug/Borderspace_d.exp
bin/Debug/Borderspace_d.lib
bin/Debug/Borderspace_d.pdb
bin/Release/Borderspace.lib
bin/Release/Borderspace.exp
bin/Release/Borderspace.exe.lastcodeanalysissucceeded
bin/Release/Borderspace.exe
bin/Borderspace.dir/Release/vc.nativecodeanalysis.all.xml
bin/Borderspace.dir/Release/timer.obj
bin/Borderspace.dir/Release/timer.nativecodeanalysis.xml
bin/Borderspace.dir/Release/timer.nativecodeanalysis.sarif
bin/Borderspace.dir/Release/sprite.obj
bin/Borderspace.dir/Release/sprite.nativecodeanalysis.xml
bin/Borderspace.dir/Release/sprite.nativecodeanalysis.sarif
bin/Borderspace.dir/Release/shader.obj
bin/Borderspace.dir/Release/shader.nativecodeanalysis.xml
bin/Borderspace.dir/Release/shader.nativecodeanalysis.sarif
bin/Borderspace.dir/Release/projectile.obj
bin/Borderspace.dir/Release/projectile.nativecodeanalysis.xml
bin/Borderspace.dir/Release/projectile.nativecodeanalysis.sarif
bin/Borderspace.dir/Release/player_game_object.obj
bin/Borderspace.dir/Release/player_game_object.nativecodeanalysis.xml
bin/Borderspace.dir/Release/player_game_object.nativecodeanalysis.sarif
bin/Borderspace.dir/Release/NativeCodeAnalysis.read.1.tlog
bin/Borderspace.dir/Release/monster_object.obj
bin/Borderspace.dir/Release/monster_object.nativecodeanalysis.xml
bin/Borderspace.dir/Release/monster_object.nativecodeanalysis.sarif
bin/Borderspace.dir/Release/main.obj
bin/Borderspace.dir/Release/main.nativecodeanalysis.xml
bin/Borderspace.dir/Release/main.nativecodeanalysis.sarif
bin/Borderspace.dir/Release/lazer.obj
bin/Borderspace.dir/Release/lazer.nativecodeanalysis.xml
bin/Borderspace.dir/Release/lazer.nativecodeanalysis.sarif
bin/Borderspace.dir/Release/HUD.obj
bin/Borderspace.dir/Release/HUD.nativecodeanalysis.xml
bin/Borderspace.dir/Release/HUD.nativecodeanalysis.sarif
bin/Borderspace.dir/Release/game_object.obj
bin/Borderspace.dir/Release/game_object.nativecodeanalysis.xml
bin/Borderspace.dir/Release/game_object.nativecodeanalysis.sarif
bin/Borderspace.dir/Release/game.obj
bin/Borderspace.dir/Release/game.nativecodeanalysis.xml
bin/Borderspace.dir/Release/game.nativecodeanalysis.sarif
bin/Borderspace.dir/Release/fortress_shooter.obj
bin/Borderspace.dir/Release/fortress_shooter.nativecodeanalysis.xml
bin/Borderspace.dir/Release/fortress_shooter.nativecodeanalysis.sarif
bin/Borderspace.dir/Release/fortress_object.obj
bin/Borderspace.dir/Release/fortress_object.nativecodeanalysis.xml
bin/Borderspace.dir/Release/fortress_object.nativecodeanalysis.sarif
bin/Borderspace.dir/Release/file_utils.obj
bin/Borderspace.dir/Release/file_utils.nativecodeanalysis.xml
bin/Borderspace.dir/Release/file_utils.nativecodeanalysis.sarif
bin/Borderspace.dir/Release/expo_obj.obj
bin/Borderspace.dir/Release/expo_obj.nativecodeanalysis.xml
bin/Borderspace.dir/Release/expo_obj.nativecodeanalysis.sarif
bin/Borderspace.dir/Release/enemy_game_object.obj
bin/Borderspace.dir/Release/enemy_game_object.nativecodeanalysis.xml
bin/Borderspace.dir/Release/enemy_game_object.nativecodeanalysis.sarif
bin/Borderspace.dir/Release/effect.obj
bin/Borderspace.dir/Release/effect.nativecodeanalysis.xml
bin/Borderspace.dir/Release/effect.nativecodeanalysis.sarif
bin/Borderspace.dir/Release/collectible_game_object.obj
bin/Borderspace.dir/Release/collectible_game_object.nativecodeanalysis.xml
bin/Borderspace.dir/Release/collectible_game_object.nativecodeanalysis.sarif
bin/Borderspace.dir/Release/CodeAnalysisResultManifest.txt
bin/Borderspace.dir/Release/circle.obj
bin/Borderspace.dir/Release/circle.nativecodeanalysis.xml
bin/Borderspace.dir/Release/circle.nativecodeanalysis.sarif
bin/Borderspace.dir/Release/Borderspace.vcxproj.FileListAbsolute.txt
bin/Borderspace.dir/Release/Borderspace.tlog/link.write.1.tlog
bin/Borderspace.dir/Release/Borderspace.tlog/link.secondary.1.tlog
bin/Borderspace.dir/Release/Borderspace.tlog/link.read.1.tlog
bin/Borderspace.dir/Release/Borderspace.tlog/link.command.1.tlog
bin/Borderspace.dir/Release/Borderspace.tlog/CL.write.1.tlog
bin/Borderspace.dir/Release/Borderspace.tlog/CL.read.1.tlog
bin/Borderspace.dir/Release/Borderspace.tlog/Cl.items.tlog
bin/Borderspace.dir/Release/Borderspace.tlog/CL.command.1.tlog
bin/Borderspace.dir/Release/Borderspace.tlog/Borderspace.lastbuildstate
bin/Borderspace.dir/Release/Borderspace.log
bin/Borderspace.dir/Release/Borderspace.exe.recipe
bin/Borderspace.dir/Release/Borderspace.Build.CppClean.log
bin/Borderspace.dir/Release/bomb.obj
bin/Borderspace.dir/Release/bomb.nativecodeanalysis.xml
bin/Borderspace.dir/Release/bomb.nativecodeanalysis.sarif
bin/Borderspace.dir/Release/blue_game_object.obj
bin/Borderspace.dir/Release/blue_game_object.nativecodeanalysis.xml
bin/Borderspace.dir/Release/blue_game_object.nativecodeanalysis.sarif
bin/Borderspace.dir/Release/audio_manager.obj
bin/Borderspace.dir/Release/audio_manager.nativecodeanalysis.xml
bin/Borderspace.dir/Release/audio_manager.nativecodeanalysis.sarif
bin/Borderspace.dir/Debug/vc.nativecodeanalysis.all.xml
bin/Borderspace.dir/Debug/timer.nativecodeanalysis.xml
bin/Borderspace.dir/Debug/timer.nativecodeanalysis.sarif
bin/Borderspace.dir/Debug/sprite.nativecodeanalysis.xml
bin/Borderspace.dir/Debug/sprite.nativecodeanalysis.sarif
bin/Borderspace.dir/Debug/shader.nativecodeanalysis.xml
bin/Borderspace.dir/Debug/shader.nativecodeanalysis.sarif
bin/Borderspace.dir/Debug/ract.obj
bin/Borderspace.dir/Debug/projectile.nativecodeanalysis.xml
bin/Borderspace.dir/Debug/projectile.nativecodeanalysis.sarif
bin/Borderspace.dir/Debug/player_game_object.nativecodeanalysis.xml
bin/Borderspace.dir/Debug/player_game_object.nativecodeanalysis.sarif
bin/Borderspace.dir/Debug/monster_object.nativecodeanalysis.xml
bin/Borderspace.dir/Debug/monster_object.nativecodeanalysis.sarif
bin/Borderspace.dir/Debug/main.nativecodeanalysis.xml
bin/Borderspace.dir/Debug/main.nativecodeanalysis.sarif
bin/Borderspace.dir/Debug/lazer.nativecodeanalysis.xml
bin/Borderspace.dir/Debug/lazer.nativecodeanalysis.sarif
bin/Borderspace.dir/Debug/HUD.nativecodeanalysis.xml
bin/Borderspace.dir/Debug/HUD.nativecodeanalysis.sarif
bin/Borderspace.dir/Debug/game_object.nativecodeanalysis.xml
bin/Borderspace.dir/Debug/game_object.nativecodeanalysis.sarif
bin/Borderspace.dir/Debug/game.nativecodeanalysis.xml
bin/Borderspace.dir/Debug/game.nativecodeanalysis.sarif
bin/Borderspace.dir/Debug/fortress_shooter.nativecodeanalysis.xml
bin/Borderspace.dir/Debug/fortress_shooter.nativecodeanalysis.sarif
bin/Borderspace.dir/Debug/fortress_object.nativecodeanalysis.xml
bin/Borderspace.dir/Debug/fortress_object.nativecodeanalysis.sarif
bin/Borderspace.dir/Debug/file_utils.nativecodeanalysis.xml
bin/Borderspace.dir/Debug/file_utils.nativecodeanalysis.sarif
bin/Borderspace.dir/Debug/expo_obj.nativecodeanalysis.xml
bin/Borderspace.dir/Debug/expo_obj.nativecodeanalysis.sarif
bin/Borderspace.dir/Debug/enemy_game_object.nativecodeanalysis.xml
bin/Borderspace.dir/Debug/enemy_game_object.nativecodeanalysis.sarif
bin/Borderspace.dir/Debug/effect.nativecodeanalysis.xml
bin/Borderspace.dir/Debug/effect.nativecodeanalysis.sarif
bin/Borderspace.dir/Debug/collectible_game_object.nativecodeanalysis.xml
bin/Borderspace.dir/Debug/collectible_game_object.nativecodeanalysis.sarif
bin/Borderspace.dir/Debug/CodeAnalysisResultManifest.txt
bin/Borderspace.dir/Debug/circle.nativecodeanalysis.xml
bin/Borderspace.dir/Debug/circle.nativecodeanalysis.sarif
bin/Borderspace.dir/Debug/bomb.nativecodeanalysis.xml
bin/Borderspace.dir/Debug/bomb.nativecodeanalysis.sarif
bin/Borderspace.dir/Debug/blue_game_object.nativecodeanalysis.xml
bin/Borderspace.dir/Debug/blue_game_object.nativecodeanalysis.sarif
bin/Borderspace.dir/Debug/audio_manager.nativecodeanalysis.xml
bin/Borderspace.dir/Debug/audio_manager.nativecodeanalysis.sarif
bin/Borderspace.dir/Debug/arm1.obj
bin/.vs/Borderspace/v17/ipch/AutoPCH/ffc613c26de78696/GAME_OBJECT.ipch
bin/.vs/Borderspace/v17/ipch/AutoPCH/a6551c50d778f25e/RACT.ipch
bin/.vs/Borderspace/v17/ipch/AutoPCH/849c038b8751e970/LAZER.ipch
bin/.vs/Borderspace/v17/ipch/AutoPCH/7eb3a491a20f741b/BLUE_GAME_OBJECT.ipch
bin/.vs/Borderspace/v17/ipch/AutoPCH/58f6bf65486ee083/RACT.ipch
bin/.vs/Borderspace/v17/ipch/AutoPCH/3e358fe8f0b22622/ARM1.ipch
bin/.vs/Borderspace/v17/ipch/AutoPCH/247e0cdcee0acb/VCTMP26792_215189.LAZER.00000000.ipch
bin/.vs/Borderspace/v17/ipch/AutoPCH/11897257de73775d/ARM1.ipch
bin/.vs/Borderspace/FileContentIndex/e8a77479-d7de-44a3-abba-1f2a7b5de9c1.vsidx
bin/.vs/Borderspace/FileContentIndex/e7c884d5-ba58-4044-b424-aff95239c8f3.vsidx
bin/.vs/Borderspace/FileContentIndex/646600a1-44fd-4836-9dc6-3cfa011d7bc6.vsidx
bin/.vs/Borderspace/FileContentIndex/18195b11-0a0b-448f-bb87-1896360865e8.vsidx
bin/.vs/Borderspace/FileContentIndex/293ac7c5-221a-4e72-a6df-4ce3f2c33f55.vsidx
bin/.vs/Borderspace/FileContentIndex/37f181f7-e5e5-4802-960e-7774e2435c2e.vsidx
bin/.vs/Borderspace/FileContentIndex/6f14867d-a22c-425d-aa60-d8d790faae89.vsidx
bin/.vs/Borderspace/FileContentIndex/99105834-c372-4529-9a2d-f58eb5077ce4.vsidx
bin/.vs/Borderspace/FileContentIndex/9a5a2240-c080-46b4-ae62-a6d84646490f.vsidx
bin/.vs/Borderspace/v17/ipch/AutoPCH/187e6f32ffc7f942/EXPO_OBJ.ipch
bin/.vs/Borderspace/v17/ipch/AutoPCH/2e8b8ef19386e311/FORTRESS_SHOOTER.ipch
bin/.vs/Borderspace/v17/ipch/AutoPCH/942afcdffb7081a4/AUDIO_MANAGER.ipch
